@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-cuauh: #151A21;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body{
  min-height: 100vh;
  background: var(--background-cuauh);
}

.sidebar{
  position: relative;
  width: 80px;
  height: 100vh;
  background: white;
  transition: .5s;
  padding-left: 10px;
  overflow: hidden;
}
.sidebar.active{
  width: 300px;
}
.sidebar ul{
  position: relative;
  height: 100vh;
}

.sidebar ul li{
  position: relative;
}

.sidebar ul li.active{
  background: var(--background-cuauh);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.sidebar ul li.active::before{
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 0 5px var(--background-cuauh);
  background: transparent;
}

.sidebar ul li.active::after{
  content: '';
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  border-top-right-radius: 20px;
  box-shadow: 5px -5px 0 5px var(--background-cuauh);
  background: transparent;
}


.sidebar ul li.logo{
  margin-bottom: 50px;
}
.sidebar ul li.logo .icon{
  font-size: 2em;
  color: var(--background-cuauh);
}

.sidebar ul li.logo .text{
  font-size: 1.2em;
  font-weight: 500;
  color: var(--background-cuauh);
}

.sidebar ul li a{
  position: relative;
  display: flex;
  white-space: nowrap;
}

.sidebar ul li a .icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 70px;
  padding-left: 10px;
  font-size: 1.5em;
  color: var(--background-cuauh);
  transition: .5s;
}

.sidebar ul li a .text{
  position: relative;
  height: 70px;
  display: flex;
  align-items: center;
  font-size: 1em;
  color: var(--background-cuauh);
  padding-left: 15px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: .5s;
}

.sidebar ul li.active a .icon{
  color: white;
}

.sidebar ul li.active a .text{
  color: var(--bg);
}

.sidebar ul li:hover a .icon,
.sidebar ul li:hover a .text{
  color: var(--bg);
}

.sidebar ul li.active a .icon::before{
  content: '';
  position: absolute;
  inset: 5px;
  width: 60px;
  background: var(--bg);
  border-radius: 50%;
  transition: .5s;
}

.sidebar ul li:hover.active a .icon::before{
  background: white;
}

.bottom{
  position: absolute;
  bottom: 0;
  width: 100%;
}

.imgBx{
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.imgBx img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menuToggle{
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: var(--background-cuauh);
  z-index: 1000;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.menuToggle::before{
  content: '';
  position: absolute;
  width: 25px;
  border-radius: 20px;
  height: 2px;
  background: white;
  transform: translateY(-8px);
  transition: .5s;
  box-shadow: 0 8px 0 white;
}

.menuToggle::after{
  content: '';
  position: absolute;
  width: 25px;
  border-radius: 20px;
  height: 2px;
  background: white;
  transform: translateY(8px);
  transition: .5s;
}

.menuToggle.active::before{
  transform: translateY(0px) rotate(45deg);
  box-shadow: 0 0 0 white;
}

.menuToggle.active::after{
  transform: translateY(0px) rotate(-45deg);
}


.loader {
    width: 100px;
    height: 100px;
    background-color: #F5A524;
    border-radius: 50%;
    position: relative;
    box-shadow: 0 0 30px 4px rgba(0, 0, 0, 0.5) inset,
      0 5px 12px rgba(0, 0, 0, 0.15);
    overflow: hidden;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 45%;
    top: -40%;
    background-color: #fff;
    animation: wave 5s linear infinite;
  }
  .loader:before {
    border-radius: 30%;
    background: rgba(255, 255, 255, 0.4);
    animation: wave 5s linear infinite;
  }
  @keyframes wave {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }


  .loader_2 {
    width: 0;
    height: 4.8px;
    display: inline-block;
    position: relative;
    background: #F5A524;
    box-shadow: 0 0 10px #cf8b1c;
    box-sizing: border-box;
    animation: animFw 8s linear infinite;
  }
    .loader_2::after,
    .loader_2::before {
      content: '';
      width: 10px;
      height: 1px;
      background: #F5A524;
      position: absolute;
      top: 9px;
      right: -2px;
      opacity: 0;
      transform: rotate(-45deg) translateX(0px);
      box-sizing: border-box;
      animation: coli1 0.3s linear infinite;
    }
    .loader_2::before {
      top: -4px;
      transform: rotate(45deg);
      animation: coli2 0.3s linear infinite;
    }
  
  @keyframes animFw {
      0% {
    width: 0;
  }
      100% {
    width: 100%;
  }
    }
  
  @keyframes coli1 {
      0% {
    transform: rotate(-45deg) translateX(0px);
    opacity: 0.7;
  }
      100% {
    transform: rotate(-45deg) translateX(-45px);
    opacity: 0;
  }
    }
  
  @keyframes coli2 {
      0% {
    transform: rotate(45deg) translateX(0px);
    opacity: 1;
  }
      100% {
    transform: rotate(45deg) translateX(-45px);
    opacity: 0.7;
  }
    }


    .loader_space {
      width: 32px;
      height: 90px;
      display: block;
      margin: 20px auto;
      position: relative;
      border-radius: 50% 50% 0 0;
      border-bottom: 10px solid #FF3D00;
      background-color: #FFF;
      background-image: radial-gradient(ellipse at center, #FFF 34%, #FF3D00 35%, #FF3D00 54%, #FFF 55%), linear-gradient(#FF3D00 10px, transparent 0);
      background-size: 28px 28px;
      background-position: center 20px , center 2px;
      background-repeat: no-repeat;
      box-sizing: border-box;
      animation: animloaderBack 1s linear infinite alternate;
    }
    .loader_sapce::before {
      content: '';  
      box-sizing: border-box;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      width: 64px;
      height: 44px;
      border-radius: 50%;
      box-shadow: 0px 15px #FF3D00 inset;
      top: 67px;
    }
    .loader_space::after {
      content: '';  
      position: absolute;
      left: 50%;
      transform: translateX(-50%) rotate(45deg);
      width: 34px;
      height: 34px;
      top: 112%;
      background: radial-gradient(ellipse at center, #ffdf00 8%, rgba(249, 62, 0, 0.6) 24%, rgba(0, 0, 0, 0) 100%);
      border-radius: 50% 50% 0;
      background-repeat: no-repeat;
      background-position: -44px -44px;
      background-size: 100px 100px;
      box-shadow: 4px 4px 12px 0px rgba(255, 61, 0, 0.5);
      box-sizing: border-box;
      animation: animloader 1s linear infinite alternate;
    }
    
    @keyframes animloaderBack {
      0%, 30%, 70% {
        transform: translateY(0px);
      }
      20%, 40%, 100% {
        transform: translateY(-5px);
      }
    }
    
    @keyframes animloader {
      0% {
        box-shadow: 4px 4px 12px 2px rgba(255, 61, 0, 0.75);
        width: 34px;
        height: 34px;
        background-position: -44px -44px;
        background-size: 100px 100px;
      }
      100% {
        box-shadow: 2px 2px 8px 0px rgba(255, 61, 0, 0.5);
        width: 30px;
        height: 28px;
        background-position: -36px -36px;
        background-size: 80px 80px;
      }
    }
    
    